<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="/" class="btn btn-secondary">Back</a>
      </div>
      <div class="col-12">
        <h1>{{ news.title }}</h1>
        <p>{{ news.description }}</p>
        <button class="btn btn-warning" @click="confirmHideNews">Hide news</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      news: {},
      error: null,
    };
  },
  created() {
    this.fetchNews();
  },
  methods: {
    async fetchNews() {
      await this.$http.get(`news/${this.$route.params.slug}`)
          .then(({data}) => this.news = data.data)
          .catch((error) => {
            this.error = 'Failed to load news.';
            console.error(error);
          })
    },
    confirmHideNews() {
      if (confirm('Are you sure you want to hide this news?')) {
        this.hideNews();
      }
    },
    async hideNews() {
      await this.$http.put(`news/${this.$route.params.slug}`)
          .then(() => this.$router.push('/'))
          .catch((error) => {
            this.error = 'Failed to hide news.';
            console.error(error);
          })
    },
  },
};
</script>

<style scoped>
.container {
  margin-top: 20px;
}
</style>
