<template>
  <div class="container">
    <h1>Новини</h1>
    <div v-if="loading" class="text-center my-3">
      <span class="spinner-border" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
    </div>
    <div v-else class="list-group">
      <RouterLink
          v-for="news in newsList"
          :key="news.slug"
          :to="'/' + news.slug"
          class="list-group-item list-group-item-action"
      >
        <h5 class="mb-1">{{ news.title }}</h5>
        <p class="mb-1">{{ news.short_description }}</p>
        <small>{{ new Date(news.created_at).toLocaleDateString() }}</small>
      </RouterLink>
    </div>
    <div v-if="error" class="alert alert-danger mt-3">
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newsList: [],
      loading: true,
      error: null,
    };
  },
  created() {
    this.fetchNews();
  },
  methods: {
    async fetchNews() {
      await this.$http.get('news')
          .then(({data}) => this.newsList = data.data)
          .catch((error) => {
            this.error = 'Failed to load news.';
            console.error(error);
          })
          .finally(() => this.loading = false)
    },
  },
};
</script>

<style scoped>
.container {
  margin-top: 20px;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
</style>
